/* Importing Google Font for 'Roboto' since it is used in reference image. */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/*
  Turning color scheme into variables so it can optionally
  be changed from here.
*/
:root {
  --dark-bg-color: #1f2937;
  --btn-bg-color: #3882f6;
  --quote-bg-color: #e5e7eb;
  --main-text-color: #f9faf8;
  --secondary-text-color: #e5e7eb;
  --logo-text-color: #f9faf8;
  --info-header-text-color: #1f2937;
  --quote-text-color: #1f2937;
  --lr-padding: 64px;
}

/*
  Reset to increase control over layout. 
*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* Setting default font properties for page. */
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  /*
    Turning body into flexbox in order to stack sections
    and attempt to recreate layout in reference image.
  */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* 
    Making the body take up the entire viewport so that 
    the layout flexes from the top to bottom of the page.
  */
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px var(--lr-padding);
  min-height: 50px;
  background-color: var(--dark-bg-color);
}

.header-logo {
  font-size: 24px;
  color: var(--logo-text-color);
}

.header-links {
  display: flex;
  gap: 16px;
  list-style: none;
}

.header-links a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 300;
  color: var(--secondary-text-color);
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  padding: 100px var(--lr-padding);
  min-height: 250px;
  background-color: var(--dark-bg-color);
}

.hero-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  gap: 8px;
  width: 450px;
  height: 250px;
}

.hero-left h1 {
  font-size: 48px;
  font-weight: 900;
  color: var(--main-text-color);
}

.hero-left p {
  font-size: 18px;
  color: var(--secondary-text-color);
}

.hero-left button {
  max-width: 120px;
  font-size: 18px;
  color: var(--secondary-text-color);
  padding: 4px 24px;
  border: 0;
  border-radius: 5px;
  background-color: var(--btn-bg-color);
}

.hero-right {
  display: flex;
  justify-content: center;
  flex: 1;
  width: 450px;
  height: 250px;
}

.hero-right img {
  flex: 1;
  max-width: 100%;
  height: auto;
}

.sub-section-1 {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 24px var(--lr-padding) 24px;
  min-height: 250px;
}

.sub-section-1 .illustrations {
  display: flex;
  flex: 1;
}

figure {
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 200px;
  width: 150px;
  margin: 8px;
}

figure img {
  height: 100px;
  border-radius: 8px;
  border: 2px solid var(--btn-bg-color);
}

.sub-section-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 160px;
  min-height: 250px;
  background-color: var(--quote-bg-color);
}

.sub-section-2 blockquote {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  color: var(--quote-text-color);
}

.sub-section-2 p {
  font-weight: 900;
  margin-left: auto;
  text-align: end;
}

.sub-section-3 {
  min-height: 250px;
}

footer {
  min-height: 50px;
  background-color: var(--dark-bg-color);
}
